Source: xgrub-password
Section: misc
Priority: optional
Maintainer: Ivan Danov <idanov@gmail.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0

Package: xgrub-password
Architecture: all
Depends: ${misc:Depends}, grub-common, grub2-common, sed (>= 4.0), debianutils (>= 4.0), gawk, coreutils (>= 8.0)
Description: Grub2 MenuItem edit password
 Set user and password for grub superuser and allow boot OSes without password
